@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');

 h2 {
  text-align: center;
}

* {
    margin: 0 ;
    padding: 0;
    font-family: lato;
}

h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 50px;
}

.slider-frame {
	width: 480px;
    height: 720px;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


 body{
 	background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
  min-height: 100vh;
  width: 100%;
 
  font-family: 'Montserrat', sans-serif;
 }
 


 .form{
 	background-color: #fff;
 	width: 90%;
 	margin: auto;
 	max-width: 400px;
 	padding: 3.5em 1.5em;
 	
 }

 .form_container{
 	width: 100%;
 	display: grid;
 	grid-gap: 1em;
 	grid-auto-columns: 100%;
 }

 .form_title{
text-align: center;
font-size: 3.9rem;
margin-bottom: .4em;
 }

 .form_input{
 	font-family: inherit;
 	font-size: 1rem;
 	padding: .8em 1em;
 	outline: none;
 	border: none;
 	border: 1px solid #bbb0b0;
 	border-radius:0.2em;
 }

 .form_input--message{
 	resize: none;
 	padding: 1.8em 1em;
 	margin-bottom: .5em;
 }

 .form_cta{
 	font-family: inherit;
 	background-color: #089FE0;
 	color: #fff;
 	border: none;
 	font-weight: 300;
 	font-size: 1rem;
 	padding: .7em 0;
 	border-radius: .2em;
 	cursor: pointer;
 	font-weight: 400;
 }

 @media (max-width:450px){
 	.form{
 		padding: 3.5em 1em;
 	}
 }

 *{
 	margin: 0;
 	font-family: Arial,Helvetica,sans-serif;
 	box-sizing: border-box;
 	transition: 0.5s;
}

body{
	
	height: 100vh;
	width: 100%;
	position: relative;
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;

	
}

footer{
	width: 100%;
	position: relative;
	bottom: 0;
	left: 0;
	padding: 2rem 8%;
	background-color: black;
	display: flex
	justify-content: center;
	align-items: center;
	flex-direction: col
	
	
	
}

.logo{
	height: 80px;
	align-items: center;
	margin-bottom: 1rem;
	align-self: center;
}

.social-icons-container, .footer-menu-container{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}

.social-icon{
	height: 50px;
	width: 50px;
	border-radius: 50px;
	border: 1px solid #f2f2f2;
	background-image: url(facebook.png);
	background-position: center;
	background-size: 40%;
	background-repeat: no-repeat;
	margin: 1rem;
}

.social-icon:hover{
	background-color: #FFFFFF;
	filter: invert(1);
}

.social-icon:nth-of-type(2){
	background-image: url(instagram.jpg);
}
.social-icon:nth-of-type(2){
	background-image: url(youtube.png);
}

.social-icon:nth-of-type(2){
	background-image: url(twitter.png);
}

.footer-menu-container{
	list-style-type: none;
	color: #f2f2f2;
	font-size: 18px;

}

.menu-item{
	margin: 1rem 1.5rem;
	cursor: pointer;
	opacity: 0.6;
}

.menu-item:hover{
	opacity: 1;
}

.copyright{
	color: #FFFFFF;
opacity: 1.3;
text-align: center;
}


